<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.goods.mapper.CommentGoodsMapper">

    <select id="getComment" resultType="com.mall.goods.entity.vo.CommentGoodsVo">
        select cg.*,gu.username user_name
        from comment_goods cg
                 left join goods_user gu on  cg.goods_user_id=gu.id where cg.mall_goods_id=#{id}
    </select>
</mapper>
