<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.goods.mapper.UserMapper">

    <resultMap id="resultUserMap" type="com.mall.goods.entity.vo.UserVo">
        <collection property="topUps"
                    ofType=" com.mall.goods.entity.TopUp"
                    select="com.mall.goods.mapper.TopUpMapper.getTopUpList"
                    column="id">
        </collection>
    </resultMap>
    <select id="getUserDetail" resultMap="resultUserMap">
        select u.*, acc.money
        from goods_user as u,
             goods_user_account as acc
        where u.id = acc.goods_user_id
          and u.id = #{id};
    </select>
    <select id="getByCarryMoneyDetail" resultType="com.mall.goods.entity.vo.UserVo">
        select u.id,
               u.username,
               u.mobile,
               u.mg_state,
               u.gmt_create,
               u.gmt_modified,
               a.money
        from goods_user as u,
             goods_user_account as a
        where u.id = #{id}
          and a.goods_user_id = #{id}
    </select>


</mapper>
