<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.goods.mapper.UserGoodsMapper">

    <select id="selectCollectionList" resultType="com.mall.sys.entity.MallGoods">
    select a.*, img.img_url imgUrl
        from (select *
              from mall_goods
              where id in (
                  select goods_id
                  from user_goods
                  where user_id = #{userId}
                    and type = #{type})) a
                 left join mall_goods_img img on a.id = img.goods_id and img.img_type = 1
    </select>
    <select id="countMallGoods" resultType="java.util.Map">
        select goods_id  as goodId, count(*) sl
        from user_goods
        where user_id = #{userId}
          and type = 2
        group by goods_id
    </select>
</mapper>
