<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.sys.mapper.MallOrderMapper">

    <resultMap id="OrderResultMap" type="com.mall.sys.entity.vo.MallOrderVo">
        <result property="id" column="cid"></result>
        <result property="orderUmber" column="order_umber_all"></result>
        <collection property="mallGoodsOrderVoList"
                    column="order_umber_all"
                    ofType="com.mall.sys.entity.vo.MallGoodsOrderVo"
                    select="com.mall.sys.mapper.MallGoodsOrderMapper.getMallGoodsOrderVoList">

        </collection>
    </resultMap>

    <select id="orderList" resultMap="OrderResultMap">
        select id as cid,
               user_id,
               order_umber as order_umber_all,
               address_id,
               amount,
               quantity,
               is_pay,
               payment_time,
               gmt_create
        from mall_order
        where user_id = #{uid}
        order by gmt_create desc

    </select>
</mapper>
