<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.sys.mapper.MallGoodsOrderMapper">

    <select id="getMallGoodsOrderVoList" resultType="com.mall.sys.entity.vo.MallGoodsOrderVo">

        select aa.*, goods.goods_name, img.img_url
        from mall_goods_order as aa,
             mall_goods goods,
             mall_goods_img img
        where aa.order_umber = #{orderUmber}
          and aa.goods_id = goods.id
          and img.goods_id = goods.id
          and img.img_type = 1

    </select>
</mapper>
